.header {
  background-color: rgb(149, 95, 219);
  color: #ccc;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.contenido-principal {
  flex: 1 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.peliculas, .interpretes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.inicio img {
  width: 400px;
  border: solid 3px #ccc;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.galeria-peliculas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.galeria img {
  background: white;
  padding: 10px 10px 30px 10px;
  width: 250px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotate(-2deg);
}

.galeria:nth-child(even) {
  transform: rotate(3deg);
}

.galeria-peliculas img:hover {
  transform: scale(1.1) rotate(0deg);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  z-index: 10;
}


.footer {
  flex-shrink: 0;
  background-color: rgb(149, 95, 219);
  color: #ccc;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
