.header {
  background-color: rgb(149, 95, 219);
  color: #ccc;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.contenido-principal {
  flex: 1 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.peliculas, .interpretes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.inicio img {
  width: 400px;
  border: solid 3px #ccc;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}


.footer {
  flex-shrink: 0;
  background-color: rgb(149, 95, 219);
  color: #ccc;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
