#pieces {
    background-color: rgb(147, 107, 221);
}

#board {
    display: flex;
}

#board img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

div {
    border: solid 5px black;
}

img {
    width: 250px;
}