p {
    background-color: mediumslateblue;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}