p {
  background-color: mediumslateblue;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: solid, 3px, black;
  margin: 10px;
  padding: 20px;
  width: 75%;
  display: inline-flex;
}
