body {
    background-color: rgb(147, 107, 221);
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin: auto;
    display: flex;
}

form {
    background-color: rgb(224, 222, 222);
    padding: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 15px;
    text-align: center;
}

input {
    margin: 6px;
}