body {
    background-color: rgb(147, 107, 221);
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin: auto;
    display: flex;
}

form {
    background-color: rgb(224, 222, 222);
    padding: 20px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 15px;
    text-align: center;
    width: 40%;
}

input {
    margin: 6px;
}

#formAndErrors {
    display: flex;
    margin-top: 100px;
}

#errors {
    background-color: rgb(224, 222, 222);
    padding: 20px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 15px;
    text-align: center;
    margin-left: 20px;
    width: 40%;
}

#warnings {
    color: red;
}

#warnings .hide{
    display: none;
}

.error {
    border: 2px, solid red;
}