.tarjetaActor {
    width: 200px;
    height: 350px;
    background-color: #242424;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    border: solid 2px white;
    border-radius: 20px;
    margin: 20px;
}

.tarjetaActor img {
    height: 65%;
    width: 100%;
    border-radius: 18px 18px 0px 0px;
}