.barra-nav {
    display: flex;
    border: solid 2px white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0.5px black;
    position: sticky;
    z-index: 1000;
    width: 100%;
    padding: 10px;
}

.links-nav {
    display: flex;
    list-style: none;
    gap: 30px;
}

