.pelicula_alerta {
    border: 3px solid black;
    margin: 2.5px;
    padding: 5px;
    background-color: lightgrey;
    color: black;
    text-align: left;
    display: flex;
}

.cartela {
    width: 40%;
    height: 40%;
    border: 2px solid black;
}