.contador_likes_alerta {
    color: black;
    background-color: blueviolet;
    padding: 5px;
    margin: 15px;
    border: orange solid 5px;
    border-radius: 10px;
}

.contador_likes_alerta button {
    color: black;
    background-color: lawngreen;
    margin: 5px;
}

.likes {
    display: flex;
    border: orange solid 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.dislikes {
    display: flex;
    border: orange solid 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}