.nav-barra {
    background-color: rgb(115, 228, 105);
    color: #CCC;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    top: 60px;
    width: 100%;
}

.nav-boton{
    color: #333;
}