.interprete_alerta {
    border: 3px solid black;
    margin: 2.5px;
    padding: 5px;
    background-color: lightgrey;
    color: black;
    text-align: left;
    display: flex;
}

.foto {
    width: 150px;
    border: 2px solid black;
}


.texto {
    padding-left: 5px;
    text-align: left;
    display: block;
}