#app {
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin: 10px;
}

#films {
    border: solid 2px black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

#info {
    border: solid 2px black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 100%;
}

#title {
    border: solid 2px black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

#filmData {
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}